<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/1f7012dcb5.js" crossorigin="anonymous" defer></script>
    <!--  bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <title>Admin Users</title>
  </head>
  <body>
   
   
<!-- messages -->
  <div style="height:0">
     <div class="row ">
        <div class="message">
             <%- messages('message', locals) %>
        </div>
     </div>
  </div>
   
   
  <!-- /.container -->
  <main role="main" class="container">
    <div class="row">
      <div class="col-xl-4 col-md-6 col-sm-8 mx-auto">
    
      <div class="main-nav admin">
          <nav>
             <ul>
                <% if (!users.length > 0) { %>
                    <li><a class="btn btn-primary" href="/auth/login">Login</a></li>
                <% } else { %>
                    <li><a class="btn btn-primary" href="/">Home</a></li>
                    <li><a class="btn btn-primary" href="/auth/logout">Logout</a></li>
                    <li><a class="btn btn-primary" href="/profile">Profile</a></li>
                <% } %>
             </ul>
          </nav>
      </div>
    
    
      <div class="main-title admin">
          <h3>Google Users</h3>
      </div>
    
    
      <div class="main-content admin"> 
          <% if (users.length > 0) { %>
              <table class="table table table-bordered">                        
                  <tr>           
                      <th class="text-white text-center bg-dark">Username</th>
                      <th class="text-white text-center bg-dark">Message</th>
                  </tr>
             <% users.forEach(user => { %>
                  <% if (user.admin) { %>
                        <!-- display nothing -->
                  <% } else { %>
                      <tr data-href="/admin/users/<%= user._id %>">
                      <td class="col-sm-3 border text-center border-dark"><%= user.username %></td>
                      <td class="col-sm-3 border text-center border-dark"><%= user.comment %></td>
                      </tr> 
                  <% } %>
              <% }); %>
          <% } else { %>    
                      <p class="text-center">Oops there's nothing here right now..  try back later!</p>
             <% } %>
            </table> 
      </div>
          
        
      <div class="main-footer admin">
           <div>&copy; dev010_1 2021</div>
      </div>
   
   
    </div>
  </div>
</main>

        
                
<script>
  document.addEventListener("DOMContentLoaded", () => {
      const rows = document.querySelectorAll("tr[data-href]");

      rows.forEach(row => {
          row.addEventListener('click', () => {
              window.location.href = row.dataset.href;
          });
      });
  });
    
  const message = document.querySelector('.message');
    
  if (message) {
      setTimeout(() => {
           message.style.display = 'none'
       }, 2000);
  }
</script>



<!-- bootstrap javascript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>