<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <title>Admin Details</title>
  </head>
  <body>
       
       
  <!-- /.container -->
  <main role="main" class="container">
    <div class="row">
       <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 mx-auto">
           
            <div class="main-nav admin">
                <nav>
                    <ul>
                    <% if (!user) { %>
                        <li><a class="btn btn-primary" href="/auth/login">Login</a></li>
                    <% } else { %>
                        <li><a class="btn btn-primary font-weight-bold" href="/admin/users">Back</a></li>
                        <a class="edit btn btn-warning text-white" role="button" href="/admin/users/admin-edit-user/<%= user.id %>">Edit</a>
                        <!-- 1. we click on this and it sends a request to the server (app.js DELETE) -->
                        <li><a class="delete btn btn-danger" role="button" data-doc="<%= user.id %>">Delete</a></li>
                        <li><a class="btn btn-primary" href="/">Home</a></li>
                        <li><a class="btn btn-primary" href="/profile">Profile</a></li>
                        <li><a class="btn btn-primary" href="/auth/logout">Logout</a></li>
                    <% } %>
                    </ul>
                </nav>
            </div>


           <div class="main-title admin">
               <h3>Admin Edit / Delete User</h3>
           </div>

           <div class="main-content admin details">  
               <table class="table table-bordered">
                    <tr>
                        <th class="text-white text-center bg-dark">Username</th>
                        <th class="text-white text-center bg-dark">GoogleId</th>
                    </tr>
                    <tr>
                        <td class="col-sm-3 border text-center border-dark"><%= user.username %></td>
                        <td class="col-sm-3 border text-center border-dark"><%= user.googleId %></td>
                    </tr>
                </table>
            </div>

            <div class="main-footer admin">
               <div>&copy; dev010_1 2021</div> 
            </div> 

      </div>
    </div>
  </main>
  <!-- /.container -->

   
  
<script>
  const deleteButton = document.querySelector('a.delete');
    
  deleteButton.addEventListener('click', (e) => {
    const endpoint = `/admin/users/${deleteButton.dataset.doc}`;

  // AJAX Request
    fetch(endpoint, {
      method: 'DELETE'
    })
    // 4. we get that json data back as json which we can't readily use so we take that json response we use response.json on it, what this does is it returns another promise whereby it parses the json data into a javascript object which we can use. 
    .then((response) => response.json())
    // 5. so we tack on another then method where we get access to that actual javascript object. The only thing left to do now is to redirect on the front-end. We redirect from the front-end by taking the window object's location href and set it equal to our data we get back from the server's property which is 'redirect'.
    .then((data) => window.location.href = data.redirect)
    .catch((err) => console.log(err))
  });
</script>
   
   
<!-- bootstrap javascript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>