@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


/* USERS */

/* main-section home, main-section login & main-section profile */

.main-section.home p, 
.main-section.login p, 
.main-section.profile p {
  font-family: 'Verdana', sans-serif;
  text-decoration: none;
  font-size: 0.9rem;
}


/* main-nav home, main-nav login & main-nav profile */
.main-nav.home,
.main-nav.login, 
.main-nav.profile {
  margin-top: 70px;
}


.main-nav.home ul, 
.main-nav.login ul,
.main-nav.profile ul {
  display: flex;
  grid-gap: 5px;
  justify-content: flex-end;
}


.main-nav.home nav li, a,
.main-nav.login nav li, a,
.main-nav.profile nav li, a {
  list-style: none;
  cursor: pointer; 
}


/*main-title home, main-title login & main-title profile */
.main-title.login,
.main-title.home, 
.main-title.profile {
  display: flex;
  justify-content: center;
}


/* main-content home, main-content login */
.main-content.login,
.main-content.home{
  display: flex;
  justify-content: center;
  padding: 10px;
}


/* main-content profile */
.main-content.profile {}


.main-content.profile img {
  border: ridge #0d6efd 5px;
  margin-bottom: 10px;
  border-radius: 10px;
/* width: 10%; */
}


.main-content.profile h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 20px;
}


.main-content.home p, 
.main-content.profile p {
  font-size: 12px;
  font-family: 'Verdana', sans-serif;
}


/* main-footer home, main-footer login & main-footer profile */
.main-footer.home,
.main-footer.login,
.main-footer.profile {
  display: flex;
  justify-content: center;
  font-weight: lighter;
  font-size: 0.8rem;
  color: #6c757d;
/* background: lightgreen; */
}




/* ADMIN */

/* main-nav admin-users & main-nav admin-details & main-nav admin-edit-user*/
.main-nav.admin {}


.main-nav.admin nav ul {
  display: flex;
  grid-gap: 5px;
  justify-content: flex-end;
  margin-top: 70px;
  flex-wrap: wrap;
}


.main-nav.admin nav li, a {
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.9rem;
  font-family: 'Verdana', sans-serif;
}

 
/* main-title admin-users & main-title admin-details & main-title admin-edit-user*/
.main-title.admin {
  display: flex;
  justify-content: center;
}


.main-title.admin, h2 {
  font-family: 'Kanit', sans-serif;
}


/* main-content admin-users & main-content admin-details & main-content admin-edit-user */
.main-content.admin .table td {
  cursor: pointer;
  font-size: 0.8rem;
  font-family: 'Verdana', sans-serif;
}


.main-content.admin .table tr:hover {
  color: white;
  transition: 0.1s linear;
  background-color: dodgerblue;
}


.main-content .table th {
  font-size: 0.9rem;
}


.main-content.admin.details .table td {
  cursor: auto; 
}


.main-content.admin.details .table tr:hover {
  background: none;
  color: #000;
}


/* main-content admin-edit-user */
.main-content.admin img {
  border-radius: 10px;
  margin-bottom: 10px;
  border: dodgerblue 5px ridge;
}


/* main-footer admin-users & main-footer admin-details & main-footer admin-edit-user */
.main-footer.admin {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  color: #6c757d;
}




/* UNIVERSAL */

/* messages & validation errors */
#messages, .errors {
  text-align: center;
  position: static;
  font-weight: bold;
  font-family: 'Helvetica', 'sans-serif';
}


/* 404 */
.not-found {
  background-image: url(https://freefrontend.com/assets/img/html-css-404-page-templates/HTML-404-Page-with-SVG.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100vh;
}


.main-nav li, a.btn {
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
}

